<div class="card" tyle="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ ad.title }}</h5>
    <p class="card-text">
      {{ ad.description }}
    </p>
    <p class="card-text">
      {{ ad.likes }}, {{ ad.type }}, {{ ad.category }}, {{ ad.appliedUsers }}
    </p>

    <button class="btn btn-light" (click)="Like()">like!</button>
    <button class="btn btn-light" (click)="candidate()">candidate!</button>
    <br />

    <p>candidates: {{ ad.appliedUsers.length }}</p>
    <p>likes: {{ ad.likes.length }}</p>
  </div>
</div>
