<div class="card" tyle="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ ad.title }}</h5>
    <p class="card-text">
      {{ ad.description }}
    </p>
    <p class="card-text">
      Likes: {{ ad.likes.length }}, Type: {{ ad.type }}, Category:
      {{ ad.category }}
    </p>

    <div *ngIf="authService.role === roles.USER">
      <button class="btn btn-light" (click)="Like()">like!</button>
      <button class="btn btn-light" (click)="candidate()">candidate!</button>
    </div>
    <br />

    <div *ngIf="authService.role === roles.ORGANIZATION">
      <p>candidates:</p>
      <div *ngFor="let c of candidates" class="jumbotron">
        <li>
          <h5 class="card-title">
            {{ c.name | titlecase }} - {{ ad.appliedUsers[c.id] }}
          </h5>
          <button class="btn btn-light" (click)="acceptCandidate(c.id)">
            Accept
          </button>
          <button class="btn btn-light" (click)="rejectCandidate(c.id)">
            Reject
          </button>
        </li>
      </div>
    </div>

    <div *ngIf="ad.appliedUsers[authService.loggedInUser?.id] !== undefined">
      <span
        >curret state: {{ ad.appliedUsers[authService.loggedInUser?.id] }}</span
      >
    </div>

    <p>likes: {{ ad.likes.length }}</p>
  </div>
</div>
